.login-container{
    width: 30%;
    margin: auto;
    margin-top:110px;
    margin-bottom: 144px;
}
.login-head{
    text-align: center; 
    padding-top: 70px; 
    color: grey;
}
:disabled{
    background-color: #0000ffdb;
    cursor:not-allowed;
}
.buttons-container{
    text-align: center;
    margin-right: 20px;
}
button{
    width: 80px;
    margin:0px 10px
}
@media only screen and (max-width: 765px){
    .login-container{
        width: 50%;
    }
    .buttons-container{
    display: inline-grid;
    flex-direction: COLUMN;
    width: 100%;
    justify-content: center;
    }
    button{
        width: 120px;
        margin-bottom: 10px;
    }
}