.login-container{
    width: 30%;
    margin: auto;
    margin-top:110px;
    margin-bottom: 144px;
}
.login-head{
    text-align: center; 
    padding-top: 70px; 
    color: grey;
}
:disabled{
    background-color: #198754;    
    cursor:not-allowed;
}
.buttons-container{
    text-align: center;
    width: 100%;
}
button:not(.btn-close){
    width: 80px;
    margin:0px 10px;
}
button label{
    color:white;
    cursor: pointer;

}
button[type=submit]{
    color: white;
    width: 40%;
}
button[type=reset]{ 
    color: white;
    width: 40%;
}
@media only screen and (max-width: 765px){
    .login-container{
        width: 80%;
    }
    .buttons-container{
        width: 100%;
        justify-content: center;
    }
    button{
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 575px){

    button[type=submit],  button[type=reset]{
        color: white;
        width: 100%;
    }
    button:not(.btn-close) {
        margin: 0px 0px 10px 0px;
    }
    .alert-danger{
        font-size: 12px;
    }
}
