<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout Page</title>
</head>

<body>
    <div class="checkmark">
        <img src="../../assets/checkmark.gif" alt="checkmark pic">
        <p class="logoutMessage">Logged Out Successfully. <br /><br />
            <i>Please <a [routerLink]="['/']"> Click </a>here for going to Login Page.</i>
        </p>
    </div>
</body>

</html>